
/* reset */
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, select, button, textarea, menu {
	margin: 0;
	padding: 0;
}
header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details {
	display: block;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th {
	text-align: left;
	font-weight: normal;
}
html, body, fieldset, img, iframe, abbr {
	border: 0;
}
cite, em, var, address, dfn {
	font-style: normal;
}
[hidefocus], summary {
outline:0;
}
li {
	list-style: none;
}
h1, h2, h3, h4, h5, h6, small {
	font-size: 100%;
}
sup, sub {
	font-size: 40%;
}
pre, code, kbd, samp {
	font-family: inherit;
}
q:before, q:after {
	content: none;
}
p {
	margin: 0 0 9px;
}
textarea {
	overflow: auto;
	resize: none;
}
label, summary {
	cursor: default;
}
a, button {
	cursor: pointer;
}
h1, h2, h3, h4, h5, h6, em, strong, b {
	font-weight: bold;
}
del, ins, u, s, a, a:hover {
	text-decoration: none;
}
body, textarea, input, button, select, keygen, legend {
	font: 12px/1.8 "Microsoft YaHei UI", "Microsoft YaHei", SimSun, Arial, "Segoe UI", Tahoma, Helvetica, sans-serif;
	outline: 0;
}
body {
	background: #fff;
	position: relative;
}
a {
	color: #3b5998;
	outline: none;
}
a:hover {
	color: #d54e21;
}
body .ui-widget {
	font: 12px/1.8 Microsoft YaHei, arial, simsun;
	color: #333;
	outline: 0;
}
body .ui-widget.ui-dialog {
	border: 1px solid #bbb;
}
body .ui-dialog {
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.mt10 {
	margin-top: 10px;
}
.mt15 {
	margin-top: 15px;
}
.mt20 {
	margin-top: 15px;
}
.pt10 {
	padding-top: 10px;
}
.pt15 {
	padding-top: 15px;
}
.pt20 {
	padding-top: 15px;
}
.index1 {
	z-index: 1;
}
/*浮动*/
.fl {
	float: left;
}
.fr {
	float: right;
}
.clearfix:after {
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0
}
.clearfix {
	zoom: 1
}
/*显示形式*/
.inline {
	display: inline;
}
.block {
	display: block;
}
.inline-block {
	display: inline-block;
	zoom: 1;
*display:inline;
}
.hidden {
	display: none;
}
/* 颜色 */
.red {
	color: #d54e21;
}
.blue {
	color: #1c64e3;
}
.green {
	color: green;
}
/*长度*/
.width100 {
	width: 100%;
}
.width90 {
	width: 90%;
}
.width80 {
	width: 80%;
}
.width70 {
	width: 70%;
}
.width60 {
	width: 60%;
}
.width50 {
	width: 50%;
}
.width48 {
	width: 48%;
}
.width40 {
	width: 40%;
}
.width30 {
	width: 30%;
}
.width20 {
	width: 20%;
}
.width10 {
	width: 10%;
}
.wp {
	width: 1200px;
	margin: 0 auto;
}
.cen {
	text-align: center;
}
h2 {
	font-size: 34px;
	line-height: 1;
}
/*header*/
header {
	height: 100px;
	background: #fff;
}
header .logo {
	margin-top: 10px;
}
header nav ul li {
	float: left;
	font-size: 16px;
	margin: 0 20px;
}
header nav ul li a {
	color: #767676;
}
header nav ul li a:hover {
	color: #9ECF28;
}
header nav ul li.current a {
	color: #9ECF28;
	border-bottom: 2px solid #9ECF28;
	padding-bottom: 1px;
}
header nav {
	margin-top: 50px;
}
/*Banner*/
#banner {
	height: 610px;
	width: 100%;
	position: relative;
	top: 0;
	z-index: 44;
}
#banner #slide {
	width: 100%;
}
#slide {
	height: 610px;
	overflow: hidden;
	background: #fff;
	width: 100%;
	position: relative;
}
#slide li {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	display: none;
}
#slide li.crf {
	display: block;
}
#slide li .datxt {
	margin-top: 150px;
	position: relative;
	z-index: 22;
	line-height: 1.3;
}
#slide img {
	width: 1920px;
	height: 610px;
	position: absolute;
	left: 50%;
	margin-left: -960px;
	top: 0;
}
#slide .datxt * {
	display: block;
	color: #fff;
	font-weight: bold;
	position: relative;
	opacity: 0;
	filter: alpha(opacity=0);
}
#slide .datxt b {
	font-size: 56px;
	left: -100px;
}
#slide .datxt strong {
	font-size: 42px;
	left: 80px;
}
#slide .datxt i {
	font-size: 30px;
	margin-left: -16px;
	margin-top: 10px;
	left: -100px;
}
#slide .datxt a {
	font-weight: normal;
	font-family: 'arial';
	font-size: 16px;
	border: 1px solid #fff;
	padding: 5px 10px;
	display: inline-block;
*zoom:1;
*display:inline;
	border-radius: 2px;
	behavior: url(/layouts/images/eco/PIE/PIE.htc);
	margin-top: 25px;
	margin-left: 4px;
	top: 50px;
}
#slide .datxt a span {
	display: inline-block;
*zoom:1;
*display:inline;
	color: inherit;
}
#slide .datxt.two * {
	color: #555555;
}
#slide .datxt.two a {
	border-color: #555;
}
#banner .banctr span {
	display: block;
	width: 55px;
	height: 55px;
	position: absolute;
	background-image: url(../images/banner_btn.png);
	cursor: pointer;
}
#banner .banselt {
	z-index: 111111;
	position: relative;
	margin-top: -40px;
}
#banner .banselt span {
	display: inline-block;
*zoom:1;
*display:inline;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #DBDBDB;
	cursor: pointer;
	margin: 0 4px;
	behavior: url(../images/pie.htc);
}
#banner .banselt span.current {
	background: #FFDE03;
	cursor: default;
}
#procIndex {
	position: relative;
	z-index: 55;
	background: #fff;
}
#procIndex .wp {
	height: 660px;
	position: relative;
}
#procIndex .wp:after {
	content: '';
	position: absolute;
	width: 313px;
	height: 50px;
	background: url(../images/bolangtop.png);
	top: -44px;
	left: 50%;
	margin-left: -152px;
}
#procIndex .wp:before {
	content: '';
	position: absolute;
	width: 318px;
	height: 50px;
	background: url(../images/bolangbot.png) no-repeat;
	bottom: -45px;
	left: 50%;
	margin-left: -154px;
}
#procIndex h2 {
	padding-top: 35px;
}
#procIndex h2 a {
	color: #717171;
}
#procIndex h2 i {
	color: #999999;
	font-family: arial;
	font-size: 16px;
	font-weight: normal;
}
#procIndex ul {
	margin-top: 107px;
}
#procIndex ul li {
	width: 298px;
	height: 314px;
	border: 1px solid #fff;
	float: left;
	text-align: center;
	position: relative;
}
#procIndex ul li:hover {
	border: 1px solid #E1E1E1;
}
#procIndex ul li:hover a {
	background: #23A8CB;
}
#procIndex ul li:hover h3 {
	color: #23A8CB;
}
#procIndex ul li .ico {
	width: 160px;
	height: 160px;
	margin: 10px auto;
	background: url(../images/procico.png);
}
#procIndex ul li:nth-child(4) .ico {
	background-position: 0 -163px;
}
#procIndex ul li:nth-child(3) .ico {
	background-position: 0 0;
}
#procIndex ul li:nth-child(2) .ico {
	background-position: 0 -327px;
}
#procIndex ul li:nth-child(1) .ico {
	background-position: 0 -489px;
}
#procIndex ul li:hover:nth-child(3) .ico {
	background-position: -162px 0;
}
#procIndex ul li:hover:nth-child(4) .ico {
	background-position: -162px -163px;
}
#procIndex ul li:hover:nth-child(2) .ico {
	background-position: -161px -327px;
}
#procIndex ul li:hover:nth-child(1) .ico {
	background-position: -160px -489px;
}
#procIndex ul li h3 {
	color: #7DA718;
	font-size: 18px;
	font-weight: normal;
	margin-top: 30px;
}
#procIndex ul li p {
	width: 218px;
	margin: 10px auto;
	text-align: justify;
	font-size: 13px;
	color: #717171;
}
#procIndex ul li a {
	display: inline-block;
*zoom:1;
*display:inline;
	width: 132px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	background: #818181;
	font-size: 14px;
	font-family: 'arial';
	color: #fff;
	margin-top: 5px;
	border-radius: 2px;
	position: absolute;
	bottom: 15px;
	left: 85px;
	behavior: url(../images/pie.htc);
}
#qylinian {
	width: 100%;
	height: 548px;
	background: url(../images/inbg3.png) center center;
	position: relative;
	z-index: 54;
}
#qylinian .wp {
	height: 548px;
	overflow: hidden;
}
#qylinian .wp:after {
	content: '';
	position: absolute;
	width: 313px;
	height: 58px;
	background: url(../images/qibolang.png);
	bottom: -54px;
	left: 50%;
	margin-left: -152px;
	bottom: -56px;
	left: 50%;
	margin-left: -156px;
}
#coopper {
	width: 100%;
	height: 530px;
	background: url(../images/inbg4.png) center center;
	position: relative;
	z-index: 53;
	overflow: hidden;
}
#coopper .wp {
	height: 530px;
}
#coopper h2 {
	margin-top: 100px;
	position: relative;
}
#coopper h2:after {
	width: 45px;
	height: 2px;
	background: #fff;
	position: absolute;
	top: 55px;
	content: '';
	display: inline-block;
*zoom:1;
*display:inline;
	left: 565px;
}
#coopper h2, #coopper h2 a {
	color: #fff;
}
#coopper h2 a {
	font-size: 34px;
}
#coopper h2 p {
	font-size: 16px;
	font-weight: normal;
	margin-top: 40px;
	font-family: 'arial';
}
/*tab*/
.slidebox {
	position: relative;
}
.slidebox .tabs {
	position: absolute;
	display: none;
}
.slidebox .tabs.current {
	display: block;
}
#slidebox1 {
	height: 290px;
	margin-top: 100px;
}
#slidebox1 .tabs .left {
	margin-left: 150px;
}
#slidebox1 .tabs .left img {
	margin-top: 40px;
}
#slidebox1 .tabs .right {
	color: #fff;
	width: 660px;
	margin-left: 70px;
}
#slidebox1 .tabs .right h3 {
	font-size: 34px;
	font-weight: bold;
	width: 604px;
	border-bottom: 4px solid #fff;
}
#slidebox1 .tabs .right .cont {
	margin-top: 15px;
	font-size: 14px;
}
#slidebox1 .heigh_tp {
	width: 100%;
	margin-top: 280px;
	position: absolute;
	left: 320px;
}
#slidebox1 .heigh_tp span {
	width: 14px;
	height: 14px;
	margin: 0 10px;
	border: 2px solid #fff;
	display: inline-block;
	cursor: pointer;
	position: relative;
	z-index: 2;
	text-align: center;
	line-height: 25px;
	color: #fff;
	font-size: 14px;
	border-radius: 50%;
	behavior: url(/layouts/images/eco/PIE/PIE.htc);
}
#slidebox1 .heigh_tp span:hover {
	background: #fff;
	color: #fff;
}
#slidebox1 .heigh_tp .current {
	color: #fff;
	background: #fff;
	border: 1px solid #fff;
	width: 18px;
	height: 18px;
}
#slidebox2 {
	height: 275px;
	margin-top: 50px;
}
#slidebox2 .heigh_tp {
	width: 100%;
	text-align: center;
	margin-top: 220px;
	position: absolute;
}
#slidebox2 .heigh_tp span {
	width: 14px;
	height: 14px;
	margin: 0 10px;
	border: 2px solid #fff;
	display: inline-block;
	cursor: pointer;
	position: relative;
	z-index: 2;
	text-align: center;
	line-height: 25px;
	color: #fff;
	font-size: 14px;
	border-radius: 50%;
	behavior: url(/layouts/images/eco/PIE/PIE.htc);
}
#slidebox2 .heigh_tp span:hover {
	background: #fff;
	color: #fff;
}
#slidebox2 .heigh_tp .current {
	color: #fff;
	background: #fff;
	border: 1px solid #fff;
	width: 18px;
	height: 18px;
}
#coopper li {
	float: left;
	width: 240px;
	text-align: center;
}
#newsindex {
	height: 630px;
	width: 100%;
	background: #fff;
	position: relative;
	z-index: 54;
}
#newsindex .wp {
	overflow: hidden;
}
#newsindex h2 {
	margin-top: 70px;
	position: relative;
}
#newsindex h2:after {
	width: 45px;
	height: 2px;
	background: #96C543;
	position: absolute;
	top: 55px;
	content: '';
	display: inline-block;
*zoom:1;
*display:inline;
	left: 565px;
}
#newsindex h2, #newsindex h2 a {
	color: #5a5a5a;
}
#newsindex h2 a {
	font-size: 34px;
}
#newsindex h2 p {
	font-size: 16px;
	font-weight: normal;
	margin-top: 40px;
	font-family: 'arial';
}
#newsindex ul {
	margin-top: 60px;
}
#newsindex li {
	width: 380px;
	border-radius: 4px;
	overflow: hidden;
	height: 360px;
	float: left;
	margin-right: 19px;
	behavior: url(/layouts/images/eco/PIE/PIE.htc);
}
#newsindex li .imgbox {
	width: 380px;
	height: 158px;
	overflow: hidden;
	display: block;
	position: relative;
}
#newsindex li .imgbox img {
	width: 100%;
}
#newsindex li .imgbox span {
	display: block;
	position: absolute;
	width: 54px;
	height: 54px;
	background: #585858;
	border-radius: 2px;
	color: #fff;
	left: 13px;
	top: 13px;
	text-align: center;
	font-weight: normal;
	behavior: url(../images/pie.htc);
}
#newsindex li .imgbox span i {
	font-weight: bold;
	font-size: 24px;
	font-style: normal;
	line-height: 1.4;
}
#newsindex li .tit {
	font-weight: bold;
	color: #5a5a5a;
	font-size: 14px;
	margin-top: 9px;
}
#newsindex li .cont {
	color: #5a5a5a;
	font-weight: normal;
	color: #5a5a5a;
	font-size: 12px;
	width: 344px;
	height: 53px;
	overflow: hidden;
	line-height: 1.6;
}
#newsindex li .more {
	display: block;
	width: 130px;
	height: 36px;
	background: #969696;
	color: #fff;
	font-style: normal;
	line-height: 36px;
	font-size: 14px;
	text-align: center;
	border-radius: 3px;
	margin-top: 40px;
	behavior: url(../images/pie.htc);
}
#newsindex li a:hover .more {
	background: #9ECF28;
}
#newsindex li a:hover {
	opacity: .9;
	filter: alpha(opacity=90);
}
#newsindex li a {
	display: block;
}
footer {
	background: #5A5A5A;
	width: 100%;
	height: 388px;
	position: relative;
	z-index: 54;
	overflow: hidden;
}
.fttop .left {
	width: 350px;
	color: #fff;
	margin-right: 86px;
}
.fttop .left img {
	margin: 10px 0;
}
.fttop .left a {
	display: block;
	width: 134px;
	height: 38px;
	background: url(../images/footerico.png) -1px -5px repeat;
	text-align: center;
	line-height: 38px;
	font-size: 14px;
	color: #fff;
	border-radius: 4px;
	behavior: url(/layouts/images/eco/PIE/PIE.htc);
	overflow: hidden;
	margin-top: 20px;
}
.fttop .left a:hover {
	background: #21AEBA;
}
.fttop .mid {
	margin-top: 30px;
	color: #fff;
	font-size: 14px;
	margin-right: 45px;
}
.fttop h3 {
	color: #fff;
	font-size: 18px;
	margin-bottom: 20px;
}
.fttop .mid li {
	line-height: 2.5;
}
.fttop .mid li i {
	width: 25px;
	height: 25px;
	background: url(../images/footerico.png);
	display: inline-block;
*zoom:1;
*display:inline;
	position: relative;
	margin-right: 15px;
	top: 7px;
}
.fttop .mid li:nth-child(1) i {
	background-position: 0 -50px;
}
.fttop .mid li:nth-child(2) i {
	background-position: 0 -75px;
}
.fttop .mid li:nth-child(3) i {
	background-position: 0 -101px;
}
.fttop .mid .weiboqq a {
	display: inline-block;
*zoom:1;
*display:inline;
	margin-right: 20px;
	width: 40px;
	height: 40px;
	background-image: url(../images/footerico.png);
	border-radius: 50%;
	border: 1px solid #fff;
	behavior: url(/layouts/images/eco/PIE/PIE.htc);
}
.fttop .mid .weiboqq a:nth-child(1) {
	background-position: 7px -132px;
}
.fttop .mid .weiboqq a:nth-child(2) {
	background-position: 7px -163px;
}
.fttop .mid .weiboqq a:nth-child(3) {
	background-position: 7px -163px;
}
.fttop .mid .weiboqq {
	margin-top: 20px;
}
.fttop .mid .weiboqq a:hover {
	background-color: #23A8CB;
	border: 1px solid #23A8CB;
}
.fttop .right {
	margin-top: 30px;
	color: #fff;
	font-size: 14px;
}
.fttop .sclink a {
	display: inline-block;
*zoom:1;
*display:inline;
	width: 106px;
	height: 36px;
	border: 1px solid #fff;
	border-radius: 3px;
	text-align: center;
	line-height: 36px;
	color: #fff;
	margin-right: 15px;
	behavior: url(/layouts/images/eco/PIE/PIE.htc);
}
.fttop .sclink a:hover {
	background: #fff;
	color: #5A5A5A;
}
.fttop .weixin p {
	font-size: 16px;
	color: #fff;
	margin-top: 16px;
}
.ftbot {
	height: 58px;
	background: #23A8CB;
	margin-top: 68px;
}
.ftbot .wp {
	height: 100%;
	position: relative;
}
.ftbot .wp:after {
	content: '';
	position: absolute;
	width: 313px;
	height: 47px;
	background: url(../images/fotbolang.png);
	top: -46px;
	left: 50%;
	margin-left: -152px;
}
.ftbot .wp {
	color: #BDE5F0;
	line-height: 58px;
	font-size: 14px;
}
.ftbot .wp a {
	color: #BDE5F0;
}
/*回到顶部*/
.fortop {
	width: 55px;
	height: 55px;
	background: url(../images/fortop.png) no-repeat;
	position: fixed;
	bottom: 80px;
	z-index: 56;
	right: 100px;
	filter: alpha(opacity=80);
	opacity: .8;
	display: none;
}
.fortop:hover {
	filter: alpha(opacity=100);
	opacity: 1;
	cursor: pointer;
}
/*首页end*/

.insnav {
	height: 146px;
	width: 100%;
	overflow: hidden;
}
.insnav h2 {
	color: #fff;
	margin: 62px 0 0 320px;
	font-weight: normal;
	font-size: 26px
}
.insnav li {
	float: left;
	margin-right: 40px;
}
.insnav li a {
	font-size: 16px;
	color: #fff;
	padding: 5px 30px;
}
.insnav li a:hover {
	background: #fff;
	border-radius: 15px;
	color: #4cc46b;
	behavior: url(../images/pie.htc);
}
.insnav li.current a {
	background: #fff;
	border-radius: 15px;
	color: #4cc46b;
	behavior: url(../images/pie.htc);
}
.insnav ul {
	margin: 71px 0 0 297px;
}
aside li {
	height: 42px;
	border-left: 2px solid #DFDFDF;
	padding-left: 20px;
	line-height: 22px;
}
aside li:last-child {
	height: 30px;
}
aside li.current a {
	position: relative;
	color: #4D4C4C;
}
aside li.current a:after {
	content: '';
	width: 2px;
	display: block;
	height: 26px;
	position: absolute;
	background: #646464;
	left: -22px;
	top: -3px;
}
aside li a {
	color: #949494;
	font-size: 14px;
	font-family: arial, "Microsoft YaHei";
}
aside li a:hover {
	color: #4D4C4C;
}
aside {
	width: 220px;
}
/*产品中心*/
#miancont {
	margin-top: 40px;
}
.prolist {
	width: 940px;
	margin-bottom: 40px;
}
.prolist li a {
	display: block;
	border: 1px solid #D7D7D7;
	width: 300px;
	height: 300px;
	overflow: hidden;
}
.prolist li {
	width: 300px;
	float: left;
	font-family: 'arial', "Microsoft YaHei";
	font-size: 14px;
	margin-left: 10px;
	margin-bottom: 20px;
	color: #333333;
}
.prolist li:nth-child(2n) {
	margin-right: 0;
}
.prolist li span {
	line-height: 2.5;
}
.prolist li a img {
	-webkit-transition: -webkit-transform .7s, left .5s, background 1s;
	-moz-transition: -moz-transform .7s, left .5s, background .5s;
	transition: transform .7s, background .7s left .5s,;
	transform: scale(0.9);
	width: 100%;
	height: 100%;
}
.prolist li a:hover img {
	transform: scale(1);
}
.prolist li a:hover {
	border-color: #8FD638;
}
.retrunlist a {
	color: #6D6D6D;
	border-radius: 4px;
	border: 1px solid #ADADAD;
	padding: 2px 20px;
	font-size: 14px;
	line-height: 30px;
	behavior: url(/layouts/images/eco/PIE/PIE.htc);
}
.retrunlist a:hover {
	background: #4DC469;
	color: #fff;
	border: 1px solid #4dc469;
}
#prodata {
	padding: 0 10px;
}
#prodata .imgwrapper {
	width: 467px;
}
#prodata .chuide {
	margin-left: 40px;
	width: 450px;
}
#prodata .chuide h4 {
	color: #414141;
	font-size: 36px;
	font-weight: normal;
	border-bottom: 1px solid #D9D9D9;
	margin-top: 20px;
}
#prodata .chocColor {
	margin-top: 40px;
	color: #3b3b3c;
	font-size: 16px;
}
#prodata .chocColor span i {
	display: block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	behavior: url(/layouts/images/eco/PIE/PIE.htc);
	border: 3px solid #fff;
}
#prodata .chocColor span {
	display: block;
	float: left;
	border-radius: 50%;
	border: 1px solid #B8B8B8;
	line-height: 1;
	margin-left: 15px;
	cursor: pointer;
	position: relative;
	top: -2px;
	behavior: url(/layouts/images/eco/PIE/PIE.htc);
}
#prodata .chocColor span.current {
	border: 2px solid #71D072;
}
#prodata .chocPlace {
	font-size: 16px;
	color: #3B3B3B;
	margin-top: 10px;
}
#prodata .chocPlace img {
	position: relative;
	top: 15px;
	margin: 0 10px;
}
#prodata .yinyongfanwei {
	margin-top: 35px;
	font-size: 16px;
	color: #3B3B3B;
}
#prodata .imgwrapper {
	position: relative;
	height: 523px;
}
#prodata .imgwrapper .tabs {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
}
#prodata .imgwrapper .tabs.current {
	display: block;
}
#prodata .imgwrapper .tabs .proimg {
	width: 100%;
	height: 413px;
	overflow: hidden;
	background: #fff;
}
#prodata .imgwrapper .tabs .proimg.loading {
	background: #fff url(../images/bg_loading_anim.gif) center center no-repeat;
}
#prodata .imgwrapper .tabs .suolue {
	margin-top: 15px;
	position: relative;
}
#prodata .imgwrapper .tabs .suolue .wrp {
	width: 400px;
	overflow: hidden;
	margin-left: 35px;
}
#prodata .imgwrapper .tabs .suolue ul {
	position: relative;
}
#prodata .imgwrapper .tabs .suolue ul li {
	float: left;
	margin-right: 11px;
	opacity: .5;
	cursor: pointer;
}
#prodata .imgwrapper .tabs .suolue ul li.current {
	opacity: 1;
}
#prodata .imgwrapper .suolue .contrbtn span {
	display: block;
	position: absolute;
	width: 23px;
	height: 89px;
	opacity: .5;
}
#prodata .imgwrapper .suolue .contrbtn span.prev {
	background: url(../images/productprev.png);
	top: 0;
	left: 0;
}
#prodata .imgwrapper .suolue .contrbtn span.next {
	background: url(../images/productnext.png);
	top: 0;
	right: 4px;
}
#prodata .imgwrapper .suolue .contrbtn span.cantbt {
	cursor: pointer;
	opacity: 1;
}
.intro {
	margin-bottom: 50px;
}
.chanpinsm {
	margin-top: 20px;
	border-top: 1px solid #D9D9D9;
	width: 100%;
}
.chanpinsm a {
	display: block;
	width: 118px;
	height: 28px;
	border-radius: 4px;
	background: #E6E6E6;
	text-align: center;
	line-height: 28px;
	color: #6d6d6d;
	font-size: 14px;
	margin-top: 20px;
	behavior: url(../images/pie.htc);
}
#prodata .prms .fl {
	width: 204px;
	border-top: 1px solid #CFCFCF;
}
#prodata .prms .fr {
	width: 900px;
	border-top: 1px solid #CFCFCF;
}
#prodata .prms .fl p {
	margin: 37px 0 0 5px;
	font-size: 16px;
	color: #5E5E5E;
}
#prodata .prms.miaoshu .fr .cont {
	padding: 37px 0;
	font-size: 14px;
	color: #535353;
}
#prodata .prms.cicun .fr .cont {
	padding: 27px 0;
	font-size: 14px;
	color: #535353;
}
#prodata .prms.cicun .fr .cont .desp {
	margin-top: 90px;
	float: left;
}
#prodata .prms.cicun .fr .cont .gaoImg {
	float: left;
	margin-left: 140px;
}
#prodata .prms.guige .fr .cont {
	padding: 37px 0;
	font-size: 14px;
	color: #535353;
}
#prodata .prms.guige .fr .cont li {
	float: left;
	margin-right: 80px;
	line-height: 3;
}
#prodata .prms.pinpgushi .fr .cont {
	padding: 37px 0;
	font-size: 14px;
	color: #535353;
}
#prodata .prms.pinpgushi .fr .cont .desp {
	float: left;
	width: 660px;
}
#prodata .prms.pinpgushi .fr .cont img {
	float: left;
	max-width: 189px;
	margin-left: 20px;
}
#prodata .prms.renzhen .fr .cont {
	padding: 27px 0;
	font-size: 14px;
	color: #535353;
}
#prodata .prms.renzhen .fr .cont li {
	float: left;
}
#prodata .prms.chanpinxg .fr .cont {
	padding: 27px 0;
	font-size: 14px;
	color: #535353;
}
#prodata .prms.chanpinxg .fr .cont li {
	float: left;
	width: 188px;
	margin-right: 30px;
}
#prodata .prms.chanpinxg .fr .cont li a {
	display: block;
	width: 186px;
	border: 1px solid #D7D7D7;
	height: 158px;
}
#prodata .prms.chanpinxg .fr .cont li a:hover {
	border-color: #8FD638;
}
#prodata .prms.chanpinxg .fr .cont li a img {
	display: block;
	width: 100%;
}
#prodata .prms.chanpinxg .fr .cont li span {
	padding-top: 14px;
}
/*弹出层*/	
html {
	width: 100%;
	height: 100%;
}
body {
	position: relative;
	width: 100%;
	height: 100%;
}
#showdialog {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 111;
}
#showdialog .pop {
	position: absolute;
	display: block;
	z-index: 1111;
	background: #fff;
	left: 50%;
	top: 50%;
}
#logclose {
	position: absolute;
	width: 41px;
	height: 41px;
	background: url(../images/close.png);
	text-align: center;
	font-size: 12px;
	right: -27px;
	z-index: 55;
	top: -27px;
	color: #fff;
	line-height: 42px;
	cursor: pointer;
	font-size: 22px;
}
.dialogbg {
	background: none; /* filter:alpha(opacity=50); opacity:0.5; */
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1109;
	top: 0;
	left: 0;
}
.video .dialogbg {
	background: #222;
	filter: alpha(opacity=50);
	opacity: 0.5;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1109;
	top: 0;
	left: 0;
}
.video .pop {
	border: 4px solid #5A5A5A;
	border-radius: 3px;
	behavior: url(/layouts/images/eco/PIE/PIE.htc);
}
#dlghidcont {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	box-shadow: 0 0 8px #aaa;
}
#Dialoding {
	width: 30px;
	height: 30px;
	background: url(../images/dogloading.gif);
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -15px;
	margin-top: -15px;
}
.popauto {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 1109;
	overflow-y: scroll;
}
.wrappersl {
	width: 100%;
	margin: 20px auto;
	background: #fff;
	z-index: 1112;
	position: relative;
	min-width: 1000px;
	box-shadow: 0 0 8px #aaa;
}
.danchucong {
	text-align: center;
}
/*在线商城*/
#shangcheng {
	background: #9ECF28;
	width: 265px;
	height: 75px;
	position: fixed;
	right: 0;
	top: 40%;
	z-index: 55555;
	background: url(../images/scbar.png);
	right: -183px;
}
#qq {
	background: #9ECF28;
	width: 265px;
	height: 75px;
	position: fixed;
	right: 0;
	top: 60%;
	z-index: 55555;
	background: url(../images/scbar.png);
	right: -183px;
}
#shangcheng .bar {
	background: url(../images/gouwuche.png) no-repeat center 5px;
	width: 56px;
	height: 55px;
	margin-top: 10px;
	margin-left: 5px;
	font-size: 14px;
	text-align: center;
	padding-top: 31px;
	color: #fff;
	text-indent: 6px;
	cursor: pointer;
}
#qq .bar {
	background: url(../images/t.png) no-repeat center 5px;
	width: 40px;
	height: 44px;
	margin-top: 10px;
	margin-left: 17px;
	font-size: 14px;
	text-align: center;
	padding-top: 31px;
	color: #fff;
	text-indent: 6px;
	cursor: pointer;
}
#shangcheng a {
	display: inline-block;
*zoom:1;
*display:inline;
	width: 56px;
	height: 26px;
	border: 1px solid #fff;
	border-radius: 3px;
	behavior: url(/layouts/images/eco/PIE/PIE.htc);
	text-align: center;
	line-height: 26px;
	color: #fff;
	margin-right: 15px;
	position: relative;
	top: 24px;
	left: 32px;
}
#qq a {
	display: inline-block;
*zoom:1;
*display:inline;
	height: 22px;
	text-align: center;
	margin-right: 15px;
	position: relative;
	top: 26px;
	left: 32px;
}
#shangcheng a:hover {
	background: #fff;
	color: #5A5A5A;
}
#qq a:hover {
	background: #fff;
	color: #5A5A5A;
}
#prmaintabs {
	margin-bottom: 40px;
}
#prmaintabs span {
	display: inline-block;
*zoom:1;
*display:inline;
	text-align: center;
	height: 30px;
	background: #fff;
	font-size: 14px;
	margin-right: 10px;
	line-height: 30px;
	border-radius: 15px;
	padding: 0 20px;
	behavior: url(../images/pie.htc);
}
#prmaintabs span a {
	color: #4D4C4C;
}
#prmaintabs span:hover, #prmaintabs span.current {
	background: #9ECF28;
	color: #fff;
}
#prmaintabs span:hover a, #prmaintabs span.current a {
	color: #fff;
}
/*内页单页right*/
.mainright {
	width: 958px;
}
#thrdtit {
	height: 74px;
	padding-left: 35px;
	font-size: 36px;
	font-weight: normal;
	line-height: 64px;
	color: #5C5C5C;
	border-left: 4px solid #9ECF28;
}
.solute #thrdtit {
	height: 92px;
	line-height: 1.2;
}
.solute #thrdtit i {
	font-style: normal;
	font-size: 18px;
	color: #9ecf28;
}
#rightdetals {
	margin-top: 30px;
	padding-bottom: 100px;
	font-size: 14px;
}
#rightdetals p {
	color: #797979;
	font-size: 14px;
}
.dailillogo ul {
	margin-top: 40px;
	width: 860px;
}
.dailillogo li {
	float: left;
	width: 172px;
	height: 102px;
}
.dailillogo li img {
	max-width: 150px;
}
.videolist li a {
	display: block;
	width: 302px;
	height: 210px;
	overflow: hidden;
	border-radius: 3px;
	position: relative;
	behavior: url(/layouts/images/eco/PIE/PIE.htc);
}
.videolist li a img {
	display: block;
	width: 302px;
}
.videolist li span {
	font-size: 14px;
	color: #616161;
	line-height: 2.2;
	display: block;
	width: 300px;
	margin: 5px;
	overflow: hidden;
}
.videolist li a:hover b {
	position: absolute;
	width: 100%;
	display: block;
	height: 100%;
	background: #151515;
	filter: alpha(opacity=50);
	opacity: .5;
	top: 0;
	left: 0;
}
.videolist li a:hover strong {
	position: absolute;
	width: 72px;
	height: 72px;
	background: #fff;
	top: 50%;
	left: 50%;
	margin-top: -36px;
	margin-left: -36px;
	border-radius: 50%;
	filter: alpha(opacity=80);
	opacity: .8;
	behavior: url(../images/pie.htc);
}
.videolist li a:hover strong i {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: middle;
	border-left: 18px solid #3B3B3B;
	border-bottom: 15px solid transparent;
	border-top: 15px solid transparent;
	content: "";
	position: absolute;
	top: 22px;
	left: 29px;
}
.videolist li {
	float: left;
	margin: 0 9px 19px 0;
}
.videolist {
	margin-top: 40px;
}
.twnewslist ul {
	padding-top: 25px;
}
.twnewslist li h3 a {
	color: #6E6E6E;
	font-size: 18px;
	color: #9ECF28;
	font-weight: normal;
}
.twnewslist li h3 a:hover {
	text-decoration: underline;
	color: #9ECF28;
}
.twnewslist li p {
	color: #898989;
	margin-top: 5px;
	font-size: 12px;
	line-height: 1.5;
}
.twnewslist li .desp {
	color: #B5B5B5;
}
.twnewslist li .desp a {
	font-size: 14px;
	color: #9ECF28;
	margin-left: 10px;
}
.twnewslist li {
	margin-bottom: 30px;
	border-bottom: 1px solid #F3F2F2;
	padding-bottom: 10px;
}
.pager {
	width: 100%;
	margin: 10px auto 40px;
}
.pager a, .pager span {
	display: inline-block;
	background: #9ECF28;
	padding: 4px 12px;
	color: #a1a1a1;
	background: #EEECEC;
	margin-left: 5px;
}
.pager a:hover {
	background: #9ECF28;
	color: #fff;
}
.pager span {
	color: #fff;
	background: #9ECF28;
}
.xiangxiye h4 {
	color: #5c5c5c;
	font-size: 30px;
	font-weight: normal;
	line-height: 1.5;
}
.xiangxiye .desp {
	color: #8b8b8b;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.5;
	margin-bottom: 10px;
}
#rightdetals.xiangxiye {
	margin-top: 0;
}
.bdsharebuttonbox {
	margin-top: 38px;
}
/*招商政策*/
.whelearn {
	border-bottom: 1px solid #DEDEDE;
	padding-bottom: 15px;
	margin-bottom: 30px;
}
.whelearn p {
	font-size: 16px;
	color: #757575;
}
.whelearn li {
	color: #6d6d6d;
	font-size: 14px;
	margin-top: 5px;
	cursor: pointer;
}
.whelearn ul {
	margin-top: 20px;
}
.whelearn li span {
	display: inline-block;
*zoom:1;
*display:inline;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	border: 2px solid #9ECF28;
	margin-right: 12px;
	behavior: url(/layouts/images/eco/PIE/PIE.htc);
}
.whelearn li.cur span {
	background: #9ECF28;
}
form {
	color: #696969;
}
form .fminpt p {
	color: #696969;
}
form .fminpt input {
	border: 1px solid #D1D1D1;
	border-radius: 5px;
	width: 189px;
	padding: 0 5px;
	height: 30px;
	behavior: url(/layouts/images/eco/PIE/PIE.htc);
}
form .fminpt.zijins input {
	width: 100px;
}
form .fminpt {
	margin-top: 25px;
}
form .whefdaili .choice {
	display: inline-block;
*zoom:1;
*display:inline;
}
form .whefdaili .choice input {
	margin-left: 10px;
}
form .whefdaili .choice span {
	margin-left: 30px;
	cursor: pointer;
}
form .whefdaili {
	border-top: 1px solid #DEDEDE;
	margin-top: 40px;
}
form .whefdaili ul {
	width: 645px;
	margin-top: 30px;
}
form .whefdaili li {
	margin-bottom: 12px;
}
form .whefdaili .choice span i {
	display: inline-block;
*zoom:1;
*display:inline;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	border: 2px solid #9ECF28;
	margin-right: 12px;
	behavior: url(/layouts/images/eco/PIE/PIE.htc);
}
form .whefdaili .choice span.cur i {
	background: #9ECF28;
}
form .fminpt textarea {
	border: 1px solid #D1D1D1;
	border-radius: 5px;
	width: 645px;
	height: 95px;
	padding: 5px;
	margin-top: 5px;
	behavior: url(/layouts/images/eco/PIE/PIE.htc);
}
form .yanzhenma input {
	border: 1px solid #D1D1D1;
	height: 20px;
	width: 80px;
	margin-left: 10px;
	padding: 0 5px;
	font-size: 12px;
	line-height: 20px;
}
form .yanzhenma {
	margin-top: 10px;
}
form .yanzhenma img {
	display: inline-block;
*zoom:1;
*display:inline;
	position: relative;
	top: 9px;
}
form .handon input {
	border: none;
	background: none;
	outline: none;
	width: 82px;
	height: 30px;
	background: #39B1D0;
	color: #fff;
	font-size: 14px;
	line-height: 30px;
	border-radius: 5px;
	behavior: url(../images/pie.htc);
}
form .handon {
	margin-top: 20px;
}
form .handon input {
	cursor: pointer;
}
form .chexout {
	margin-left: 15px;
	color: #EA831F;
}
form .chexout {
	color: #aaa;
}
form .erro .chexout {
	color: #EA831F;
}
/*解决方案*/
.solute #rightdetals .tuli li {
	float: left;
	font-size: 16px;
	color: #888888;
	margin-right: 26px;
}
.solute #rightdetals .tuli li i {
	display: inline-block;
*zoom:1;
*display:inline;
	width: 28px;
	height: 28px;
	background: url(../images/soluteico.png) no-repeat;
	margin-right: 4px;
	position: relative;
	top: 5px;
}
.solute #rightdetals .tuli li:nth-child(1) i {
	background-position: -13px -374px;
}
.solute #rightdetals .tuli li:nth-child(4) i {
	background-position: -3px 0px;
}
.solute #rightdetals .tuli li:nth-child(2) i {
	background-position: -3px -34px;
}
.solute #rightdetals .tuli li:nth-child(3) i {
	background-position: -7px -72px;
}
.soluwrapper {
	width: 950px;
	height: 625px;
	background: url(../images/fangzi.jpg) 0 45px no-repeat;
	position: relative;
}
.soluwrapper li a i {
	display: block;
	width: 60px;
	height: 60px;
	background: url(../images/soluteico.png) no-repeat;
	z-index: 1;
	position: relative;
}
.soluwrapper li.cnuan a i {
	background-position: 0 -242px;
}
.soluwrapper li.water a i {
	background-position: 0 -106px;
}
.soluwrapper li.aircl a i {
	background-position: 0 -171px;
}
.soluwrapper li.newfeng a i {
	background-position: 0 -306px;
}
.soluwrapper li {
	position: absolute;
}
.soluwrapper li:nth-child(1) {
	top: 200px;
	left: 84px;
}
.soluwrapper li:nth-child(2) {
	top: 264px;
	left: 300px;
}
.soluwrapper li:nth-child(3) {
	top: 190px;
	left: 155px;
}
.soluwrapper li:nth-child(4) {
	top: 268px;
	left: 56px;
}
.soluwrapper li:nth-child(5) {
	top: 158px;
	left: 340px;
}
.soluwrapper li:nth-child(6) {
	top: 321px;
	left: 409px;
}
.soluwrapper li:nth-child(7) {
	top: 312px;
	left: 557px;
}
.soluwrapper li:nth-child(8) {
	top: 405px;
	left: 508px;
}
.soluwrapper li a p {
	position: absolute;
	z-index: 3;
	bottom: 15px;
	left: 15px;
	display: none;
	width: 225px;
	height: 196px;
	background: #fff;
	text-align: center;
	box-shadow: 0 0 8px #aaa;
	border-radius: 4px;
	color: #606060;
}
.soluwrapper li a p img {
	display: block;
	width: 130px;
	height: 112px;
	margin: 30px auto;
	margin-bottom: 15px;
}
.soluwrapper li a p b {
	font-weight: normal;
	color: #606060;
	font-size: 14px;
}
.soluwrapper li.hover a i {
	z-index: 4;
}
/*联系我们*/
.contacts h3 {
	text-align: center;
	color: #5C5C5C;
	font-size: 36px;
	font-weight: normal;
}
.contacts p {
	text-align: center;
}
.contacts .desp .tl {
	text-align: center;
	width: 100%;
	margin-top: 15px;
}
.contacts .desp p:nth-child(1) i {
	background-position: 0 -5px;
	top: 10px;
}
.contacts .desp p:nth-child(2) i {
	background-position: 0 -55px;
	top: 10px;
}
.contacts .desp p:nth-child(3) i {
	background-position: 0 -103px;
	top: 10px;
}
.contacts .desp p:nth-child(4) i {
	background-position: 0 -150px;
	top: 10px;
}
.contacts .desp p {
	font-size: 18px!important;
	margin-right: 30px;
}
.contacts .desp p i {
	display: inline-block;
*zoom:1;
*display:inline;
	width: 40px;
	height: 40px;
	background: url(../images/conctico.png) no-repeat;
	position: relative;
}
.weiboqq a {
	display: inline-block;
*zoom:1;
*display:inline;
	width: 78px;
	height: 78px;
	background: url(../images/conctico.png) no-repeat;
	background-color: #717171;
	border-radius: 50%;
	margin: 0 40px 0 0;
	behavior: url(../images/pie.htc);
}
.weiboqq a:nth-child(1) {
	background-position: 2px -269px;
}
.weiboqq a:nth-child(2) {
	background-position: 2px -202px;
}
.weiboqq a:nth-child(3) {
	background-position: 4px -333px;
}
.weiboqq {
	margin-top: 40px;
}
.weiboqq a:hover {
	background-color: #B1D953;
}
#map {
	height: 400px;
	width: 100%;
}
/*招聘*/
.chancecontain li {
	margin-bottom: 25px;
}
.chancecontain a {
	font-size: 16px;
	color: #545454;
	display: block;
	border-bottom: 1px solid #F3F2F2;
	padding-bottom: 5px;
}
.chancecontain a span {
	color: #B5B5B5;
	font-style: normal;
	font-size: 12px
}
.chancecontain a span i {
	font-size: 14px;
	color: #9ecf28;
	font-style: normal;
}
.chancecontain a span b {
	color: #fff;
	display: inline-block;
*zoom:1;
*display:inline;
	width: 18px;
	height: 18px;
	background: #9ecf28;
	border-radius: 50%;
	text-align: center;
	line-height: 18px;
	font-size: 20px;
	margin-left: 5px;
	position: relative;
	top: 2px;
	behavior: url(../images/pie.htc);
}
.tiwencont {
	margin-top: 10px;
	display: none;
}
.retrunlist {
	margin-bottom: 20px;
}
